* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.my_albums {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.albums-container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-grow: 1;
  background-color: lightslategray;
}

.album {
  width: calc(100% / 3);
  padding: 14px;
  text-align: center;
}

.album img {
  max-height: 150px;
  max-width: 150px;
  width: 100%;
  object-fit: cover;
}






